{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div id="post_modal" style="margin-top: 10%; margin-left: 5%; color:black;">
        <h1 style="font-size: 400%;">Edit your sublease</h1>
        <hr/>
            <form method="POST" style="color:black;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="post_title">Post Title</label>
                    <input type="text" class="form-control" id="post_title" name="Post_title" value={{info.Post_title}}>
                </div>
                <div class="form-group">
                    <label for="apartment">Apartment</label>
                    <select name="ApartmentID" id="apartments" value={{info.ApartmentID_id}}>
                        {% for apartment in apartments %}
                            {% if apartment.ApartmentID == info.ApartmentID_id %}
                                <option value={{apartment.ApartmentID}} selected>{{apartment.Name}}</option>
                            {% else %}
                                <option value={{apartment.ApartmentID}}>{{apartment.Name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="Description" value={{info.Description}}>
                </div>
                
                <div class="form-group">
                    <label for="date_in">Move in Date</label>
                    <input type="date" id="date_in" name="Move_in_date" min="{{date}}" value="{{move_in}}">
                </div>
                <div class="form-group">
                    <label for="date_out">Move out Date</label>
                    <input type="date" id="date_out" name="Move_out_date" min="{{date}}" value="{{move_out}}">
                </div>
                
                <div class="form-group">
                    <label for="price">Price/month</label>
                    <input type="number" class="custom-range" id="price" name="Price" min="0" max="10000" value="{{info.Price}}">
                </div>
                <div class="form-group">
                    <label for="num_bed">Number of Bedroom</label>
                    <input type="number" class="custom-range" id="num_bed" name="Bedroom" min="0" max="10" step="1" value="{{info.Bedroom}}">
                </div>
                <div class="form-group">
                    <label for="num_bath">Number of Bathroom</label>
                    <input type="number" class="custom-range" id="num_bath" name="Bathroom" min="0" max="10" step="1" value="{{info.Bathroom}}">
                </div>
                <div id="insert"><button type="submit" class="btn-lg btn-primary">Submit</button></div>
            </form>
        <hr/>
        </div>
</div>
{% endblock content %}