{% extends "base.html" %}
{% block hometitle %}

  <div class="col-lg-12">
    <h1>GoRent</h1>
    <h3>The Most Popular Renting App in UIUC</h3>
    <hr>
    <!-- TODO: FIX BUTTON href TO THE CORRESPONDING PAGE -->
    {% if user.is_authenticated %}
      <a class="btn-default btn-lg" href="{% url 'post:index' %}"><i class="fas fa-home"></i> Find Your Home Now!</a>
    {% else %}
      <a class="btn-default btn-lg" href="{% url 'appUser:register' %}"><i class="fas fa-home"></i> Get Started!</a>
    {% endif %}
  </div>

{% endblock hometitle %}