<!DOCTYPE html>
<head>
    <title>New Post</title>
</head>
<body>
    <h1>Post your sublease</h1>
    <hr/>
        <form method="POST">
            {% csrf_token %}
            Post Title:         <input type="text" placeholder="Enter the title" name="Post_title" required/><br/>
            Username:           <input type="text" placeholder="Enter the username" name="Username_id" required/><br/>
            Apartment:          <input type="text" placeholder="Enter the apartment name" name="Apartment" required/><br/>
            Description:        <input type="text" placeholder="Describe your apartment" name="Description"/><br/>
            <!-- TODO:
            set date min to be today -->
            Move in Date:       <input type="date" name="Move_in_date" required/><br/>
            Move out Date:      <input type="date" name="Move_out_date" required/><br/>
            Duration:           <input type="number" name="Duration" min="0" max="24" step="1" required/><br/>
            Price/month:        <input type="number" name="Price" min="0" max="10000" required/><br/>
            Number of Bedroom:  <input type="number" name="Bedroom" min="0" max="10" step="1" required/><br/>
            Number of Bathroom: <input type="number" name="Bathroom" min="0" max="10" step="1" required/><br/>
                                <input type="submit" value="Insert Record"/>
            {% if messages %}
                {% for message in messages %}
                    <h2 style='color:green;'>{{message}}</h2>
                {% endfor %}
            {% endif %}
        </form>
    <hr/>
</body>
</html>